.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.box {
  width: 650px;
  background-color: rgb(217, 211, 236);
}
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
#header {
  padding: 20px 0;
  border-bottom: rgb(180, 92, 180) solid 5px;
  /*background-color: #fff;*/
  box-shadow: 0 3px 20px rgba(167, 66, 187, 0.8);
  }
.header-nav {
font-size: 20px;
font-weight: bold;

}
.header-nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #c56bb2;
}
.img-filirin {
  image-rendering: crisp-edges;
}

.title-myself {
  text-align: justify;
  text-indent: 15px;
}
#main {
  padding: 20px 0;
  border:rgb(180, 92, 180) 2px solid;
}
#footer {
  padding: 20px 0;
  border:rgb(180, 92, 180) 2px solid;
  display: flex;
  
}
.container-footer {
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}


/*width = 900px */
@media  (max-width: 800px) {
  .header-nav {
    font-size: 25px;
    text-align: center;
    
  }
  .header-nav a {
    margin-left: 20px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  .title-myself, p, li, a {
    font-size: 22px;
  }
}
